@font-face {
    font-family: 'bell_gothic_std_black';
    src: url('fonts/BellGothicStd-Black.woff') format('woff'),
         url('fonts/BellGothicStd-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'bell_gothic_std_bold';
    src: url('fonts/BellGothicStd-Bold.woff') format('woff'),
         url('fonts/BellGothicStd-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'bell_gothic_std_light';
    src: url('fonts/BellGothicStd-Light.woff') format('woff'),
         url('fonts/BellGothicStd-Light.tff') format('truetype');
}